extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p
          | Taller Gilberto.
          | <br /><br />
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.1651671382233!2d-58.75668718810971!3d-34.675780680440795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9548cb9d3a93%3A0x66b14846c4948596!2sTarija+31%2C+B1722GGB+Merlo%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1477793541807" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          | <br /><br />