extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Taller Gilberto
          small &nbsp;Chapa y Pintura
          img.img-responsive.img-rounded(src='/images/home.jpg' alt="Home Background")